
body {
  background-image: url('img/start1bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}


#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:auto;
}


#startContent{
    position:fixed;
    top:30px;
    left:390px;   
}

#content,#newsBg{
/*  position:absolute;*/
    top:140px;
    left:390px;  
    height:400px;
}


#instruction{
    position:relative;
    top:230px;
    left:350px; 
    width:680px;
    color:white;
    font-size:30px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
}

#Next{
  
  position:relative;
  bottom:50px;
  left:600px;
  
  background-color: #4eb5f1;
  width:180px;
  height:40px;
  border: none;
  color: white;
  padding: 15px 32px;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  border-radius:2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#Next:hover {
  background-color: #008CBA;
  color: white;
}








